<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header class="header">
  <div class="blocks">
    <div class="blocks-bacg"></div>
    <img class="blocks-img" src="../assets/img/iTunes.png" />
  </div>
  <div class="shil">
    <div class="icon">
      <div class="icon1">
        <img
          (click)="str1()"
          class="icon-icon"
          src="../assets/img/Basket.png"
        />
        <div class="icon-bacg">
          <div class="icon-bacg2"></div>
        </div>
      </div>

      <div class="icon2">
        <img
          (click)="str2()"
          class="icon-icon"
          src="../assets/img/Time_Machine.png"
        />
        <div class="icon-bacg">
          <div class="icon-bacg2"></div>
        </div>
      </div>

      <div class="icon3">
        <img (click)="str3()" class="icon-icon" src="../assets/img/Love.png" />
        <div class="icon-bacg">
          <div class="icon-bacg2"></div>
        </div>
      </div>

      <div class="icon4">
        <img
          (click)="str4()"
          class="icon-icon"
          src="../assets/img/Opened_Folder.png"
        />
        <div class="icon-bacg">
          <div class="icon-bacg2"></div>
        </div>
      </div>

      <div class="icon5">
        <img
          (click)="str5()"
          class="icon-icon"
          src="../assets/img/Downloads_Folder.png"
        />
        <div class="icon-bacg">
          <div class="icon-bacg2"></div>
        </div>
      </div>
    </div>
    <div class="str">
      <img
        id="str-1"
        class="str-strelka off"
        src="../assets/img/Polygon 1.png"
      />
      <img
        id="str-2"
        class="str-strelka off"
        src="../assets/img/Polygon 1.png"
      />
      <img
        id="str-3"
        class="str-strelka off"
        src="../assets/img/Polygon 1.png"
      />
      <img
        id="str-4"
        class="str-strelka off"
        src="../assets/img/Polygon 1.png"
      />
      <img
        id="str-5"
        class="str-strelka off"
        src="../assets/img/Polygon 1.png"
      />
    </div>
  </div>

  <div class="strelka">
    <div class="strelka-icon-group">
      <img class="strelka-icon-1" src="../assets/img/Double_Right.png" />
      <img class="strelka-icon-2" src="../assets/img/Double_Right.png" />
    </div>
  </div>
</header>

<main class="main">
  <div class="content">
    <div id="center" class="center folderPowerOff">
      <div id="ramW" class="ram-w folderPowerOff">
        <img
          id="ramWI"
          class="ram-w-i folderPowerOff"
          src="../assets/img/Rectangle_5.png"
          alt=""
        />
        <img
          id="ramWIC"
          class="ram-w-i-c folderPowerOff"
          src="../assets/img/Rectangle_7.png"
          alt=""
        />
      </div>
      <div id="ramB" class="ram-b folderPowerOff">
        <img
          id="ramBI"
          class="ram-b-i folderPowerOff"
          src="../assets/img/Rectangle_6.png"
          alt=""
        />
        <img
          id="ramBIC"
          class="ram-b-i-c folderPowerOff"
          src="../assets/img/Rectangle_8.png"
          alt=""
        />
      </div>
      <div id="centerBacg" class="center-bacg folderPowerOff"></div>
    </div>

    <div id="folder" class="folder off">
      <div class="folder-bacg"></div>
      <div class="folder-header">
        <img class="folder-icon" src="../assets/img/Opened Folder.png" alt="" />
        <p class="folder-name">Название Папки</p>
      </div>

      <div class="folder-list">
        <ul class="folder-list-t">
          <img class="folder-list-icon" src="../assets/img/Music.png" alt="" />
          <li class="folder-list-name">1Название - Исполнитель</li>
        </ul>
        <ul class="folder-list-t">
          <img class="folder-list-icon" src="../assets/img/Music.png" alt="" />
          <li class="folder-list-name">2Название - Исполнитель</li>
        </ul>
        <ul class="folder-list-t">
          <img class="folder-list-icon" src="../assets/img/Music.png" alt="" />
          <li class="folder-list-name">3Название - Исполнитель</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="music">
    <audio id="audioElement" src="../assets/sound/music.mp3" loop></audio>
    <canvas id="visualizer"></canvas>
    <button id="playBtn">Play</button>
    <button id="pauseBtn">Pause</button>
    <button id="stopBtn">Stop</button>

    <audio controls>
      <source [src]="getAudioUrlById(1)" type="audio/mpeg" />
      Ваш браузер не поддерживает воспроизведение аудио!!!
    </audio>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
