* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

// .docs-theme-picker-menu {
//   .mat-menu-item {
//     .mat-icon.theme-example-icon {
//       margin-right: 0;
//       margin-left: 8px;
//       float: right;

//       svg {
//         vertical-align: middle;
//       }

//       &.deeppurple-amber svg {
//         .docs-theme-icon-background {
//           fill: #fafafa;
//         }
//         .docs-theme-icon-button {
//           fill: #ffc107;
//         }
//         .docs-theme-icon-toolbar {
//           fill: #673ab7;
//         }
//       }

//       &.indigo-pink svg {
//         .docs-theme-icon-background {
//           fill: #fafafa;
//         }
//         .docs-theme-icon-button {
//           fill: #e91e63;
//         }
//         .docs-theme-icon-toolbar {
//           fill: #3f51b5;
//         }
//       }

//       &.pink-bluegrey svg {
//         .docs-theme-icon-background {
//           fill: #303030;
//         }
//         .docs-theme-icon-button {
//           fill: #607d8b;
//         }
//         .docs-theme-icon-toolbar {
//           fill: #e91e63;
//         }
//       }

//       &.purple-green svg {
//         .docs-theme-icon-background {
//           fill: #303030;
//         }
//         .docs-theme-icon-button {
//           fill: #4caf50;
//         }
//         .docs-theme-icon-toolbar {
//           fill: #9c27b0;
//         }
//       }
//     }
//   }
// }

// button:focus {
//   outline: 0px !important;
// }

// @use "~@angular/material" as mat;

// @mixin nav-bar-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);

//   app-navbar {
//     color: mat.get-color-from-palette($primary, default-contrast);

//     .docs-navbar,
//     .docs-navbar-header {
//       background: mat.get-color-from-palette($primary);
//       opacity: 0.9 !important;
//       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
//       backdrop-filter: blur(5px) !important;
//       -webkit-backdrop-filter: blur(5px) !important;
//     }
//   }
// }

// #sticky-navigation {
//   background: rgba(0, 0, 0, 0.25);
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
//   backdrop-filter: blur(5px) !important;
//   -webkit-backdrop-filter: blur(5px) !important;
// }

// .docs-navbar-header {
//   position: fixed;
//   width: 100%;
//   top: 0;

//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   padding: 8px 16px;
//   min-height: 80px;

//   > .mat-button {
//     &:last-child {
//       margin-left: auto;
//     }
//   }
// }

// a {
//   color: #ffffff;
// }

// a:hover {
//   color: #ffffff;
//   text-decoration: none !important;
// }

// .flex-spacer {
//   flex-grow: 1;
// }

// .docs-angular-logo {
//   height: 36px;
//   margin: 0 4px 3px 0;
//   vertical-align: middle;
// }

// .docs-github-logo {
//   height: 21px;
//   margin: 0 7px 2px 0;
//   vertical-align: middle;
// }

// .docs-navbar-link {
//   text-decoration: inherit;
//   flex: 1;
// }

// .docs-navbar {
//   display: none;
// }

// .docs-navbar-show-small {
//   display: none;
// }

// .skip-link-wrapper {
//   position: absolute;
//   top: 10px;
//   left: 50%;
//   transform: translateX(-50%);
//   border-radius: 5px;
// }

// /**
//     * Rules for when the device is detected to be a small screen.
//     * Moves content two rows instead of one.
//     */
// @media (max-width: 720px) {
//   .docs-navbar-hide-small {
//     display: none;
//   }

//   .docs-navbar-show-small {
//     display: block;
//   }

//   .docs-navbar {
//     display: flex;
//   }

//   .docs-navbar--github-logo {
//     margin: 0;
//   }
// }

// @use "~@angular/material" as mat;
// @mixin footer-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);

//   app-footer {
//     .docs-footer-links a {
//       color: mat.get-color-from-palette($primary, default-contrast);
//     }
//   }
// }

// ::ng-deep .mlogo svg {
//   g {
//     fill: #ddd;
//   }

//   width: 42px !important;
//   height: 42px !important;
// }

// .copyright p b {
//   color: white;
// }

// a {
//   text-decoration: none;
// }

// .docs-footer {
//   padding: 12px;
//   font-size: 12px;
// }

// .docs-footer-list {
//   align-items: center;
//   display: flex;
//   flex-flow: row wrap;
//   padding: 8px;
// }

// .docs-footer-logo {
//   flex: 1;
// }

// .docs-footer-angular-logo {
//   height: 40px;
// }

// .docs-footer-version {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex: 1;

//   .angular-material-logo {
//     height: 40px;
//     margin: 5px 0 5px 16px;
//   }

//   .version {
//     margin: 0 40px;
//   }
// }

// .docs-footer-copyright {
//   display: flex;
//   flex: 1;
//   justify-content: flex-end;
//   flex-direction: column;
//   min-width: 225px;
//   margin-top: 16px;

//   > div {
//     display: flex;
//     flex-direction: column;
//     align-self: flex-end;
//     text-align: center;
//   }

//   @media (min-width: 885px) {
//     margin-top: 0;
//   }
// }

// .docs-footer-logo span {
//   display: inline-block;
//   line-height: 50px;
//   margin: 0 10px;
//   vertical-align: bottom;

//   a {
//     font-size: 16px;
//     padding: 0;
//   }
// }

// a {
//   text-decoration: none;
//   color: inherit;

//   &:hover,
//   &:focus {
//     text-decoration: underline;
//   }
// }

// @media screen and (max-width: 884px) {
//   .docs-footer-list {
//     flex-direction: column;
//   }
// }
