<ngx-audio-player
  [autoPlay]="false"
  muted="muted"
  [playlist]="msaapPlaylist"
  [disablePositionSlider]="msaapDisablePositionSlider"
  [displayRepeatControls]="msaapDisplayRepeatControls"
  [displayVolumeControls]="msaapDisplayVolumeControls"
  [displayVolumeSlider]="msaapDisplayVolumeSlider"
  [displayTitle]="msaapDisplayTitle"
  [displayPlaylist]="msaapDisplayPlayList"
  [pageSizeOptions]="msaapPageSizeOptions"
  [tableHeader]="msaapTableHeader"
  [titleHeader]="msaapTitleHeader"
  [artistHeader]="msaapArtistHeader"
  [durationHeader]="msaapDurationHeader"
  [displayArtist]="msaapDisplayArtist"
  [displayDuration]="msaapDisplayDuration"
  [expanded]="true"
>
</ngx-audio-player>
