@font-face {
  font-family: "Stolzl__Thin";
  src: url(../assets/fonts/stolzl-thin.otf) format("otf");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl__Light";
  src: url(../assets/fonts/stolzl_light.otf) format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl__Regular";
  src: url(../assets/fonts/stolzl_light.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl__Book";
  src: url(../assets/fonts/stolzl_book.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl__Medium";
  src: url(../assets/fonts/stolzl_medium.otf) format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl__Bold";
  src: url(../assets/fonts/stolzl_bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
