.text__book {
  font-family: "Stolzl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  color: $whiteColor;
}

.text__book-btn {
  font-family: "Stolzl", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: $darkColor;
}

.main__text-content {
  font-family: "Stolzl", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  color: $whiteColor;
}

.main__btn-text {
  font-family: "Stolzl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: $whiteColor;
}

.main__bottom-text {
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: $whiteColor;
}

.offers__text {
  font-family: "Stolzl", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: $whiteColor;
}

.offers__price-text {
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: $whiteColor;
}

.offers__btn-text {
  font-family: "Stolzl", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: $whiteColor;
}

.text__regular {
}

.text__bold {
}
