*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  transition: all 0.2s ease 0s;
  user-select: none;  
}

body {
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 10px;

  z-index: 2;
  position: relative;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.wrapper {
  object-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  min-width: 110vw;
  background-size: cover;
  filter: blur(10px);
  position: fixed;

  margin: -20px;
}
